.bg-blue-pink {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    280deg,
    rgba(238, 174, 202, 0.5) 0%,
    rgba(199, 180, 215, 0.5) 40%,
    rgba(148, 187, 233, 0.5) 100%
  );
}

.bg-blue-pink:is(.dark *) {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    280deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(185, 185, 225, 1) 40%,
    rgba(148, 187, 233, 1) 100%
  );
}

.bg-pink-blue {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    100deg,
    rgba(238, 174, 202, 0.5) 0%,
    rgba(199, 180, 215, 0.5) 40%,
    rgba(148, 192, 233, 0.5) 100%
  );
}

.bg-pink-blue:is(.dark *) {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    100deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(185, 185, 225, 1) 40%,
    rgba(148, 192, 233, 1) 100%
  );
}

.bg-blue-purple {
  background: rgba(167, 139, 250, 1);
  background: linear-gradient(
    280deg,
    rgba(96, 165, 250, 1) 0%,
    rgb(163, 163, 255) 40%,
    rgba(167, 139, 250, 1) 100%
  );
}

.bg-purple-pink {
  background: rgba(238, 174, 202, 1);
  background: linear-gradient(
    280deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(199, 180, 215, 1) 40%,
    rgba(148, 187, 233, 1) 100%
  );
}

.bg-blue-gray {
  background: rgb(138, 137, 143);
  background: linear-gradient(
    258deg,
    rgba(96, 165, 250, 1) 0%,
    rgb(122, 122, 219) 20%,
    rgba(138, 137, 143, 1) 100%
  );
}

.bg-purple-gray {
  background: rgb(138, 137, 143);
  background: linear-gradient(
    258deg,
    rgb(122, 122, 219) 0%,
    rgba(131, 131, 184, 1) 50%,
    rgb(114, 114, 114) 100%
  );
}

.bg-gray-blue {
  background: rgb(138, 137, 143);
  background: linear-gradient(
    258deg,
    rgba(138, 137, 143, 1) 0%,
    rgba(131, 131, 184, 1) 20%,
    rgba(96, 165, 250, 1) 100%
  );
}

.bg-gray-purple {
  background: rgb(138, 137, 143);
  background: linear-gradient(
    258deg,
    rgba(138, 137, 143, 0.5) 0%,
    rgba(131, 131, 184, 0.5) 20%,
    rgba(185, 151, 250, 0.5) 100%
  );
}

.bg-gray-purple:is(.dark *) {
  background: rgb(138, 137, 143);
  background: linear-gradient(
    258deg,
    rgba(138, 137, 143, 1) 0%,
    rgba(131, 131, 184, 1) 20%,
    rgba(185, 151, 250, 1) 100%
  );
}

/* Animation */
.bg-blue-purple-animated {
  background: linear-gradient(90deg, rgba(96, 165, 250, 0.6), rgba(167, 139, 250, 0.6));
  background-size: 400% 400%;
  animation: bg-blue-purple-animated 6s ease infinite;
}

.bg-blue-purple-animated:is(.dark *) {
  background: linear-gradient(90deg, rgba(96, 165, 250, 1), rgba(167, 139, 250, 1));
  background-size: 400% 400%;
  animation: bg-blue-purple-animated 6s ease infinite;
}

@keyframes bg-blue-purple-animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-pink-blue-animated {
  background: linear-gradient(90deg, rgba(238, 174, 202, 0.5), rgba(148, 192, 233, 0.5));
  background-size: 400% 400%;
  animation: bg-pink-blue-animated 6s ease infinite;
}

.bg-pink-blue-animated:is(.dark *) {
  background: linear-gradient(90deg, rgba(238, 174, 202, 1), rgba(148, 192, 233, 1));
  background-size: 400% 400%;
  animation: bg-pink-blue-animated 6s ease infinite;
}

@keyframes bg-pink-blue-animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-blue-gray-animated {
  background: linear-gradient(90deg, rgba(96, 165, 250, 0.6), rgba(107, 114, 128, 0.6));
  background-size: 400% 400%;
  animation: bg-blue-gray-animated 6s ease infinite;
}

.bg-blue-gray-animated:is(.dark *) {
  background: linear-gradient(90deg, rgba(96, 165, 250, 0.8), rgba(75, 85, 99, 0.8));
  background-size: 400% 400%;
  animation: bg-blue-gray-animated 6s ease infinite;
}

@keyframes bg-blue-gray-animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-blue-purple-mix {
  background: linear-gradient(45deg, rgba(96, 165, 250, 0.3) 0%, rgba(167, 139, 250, 0.3) 50%);
  position: relative;
  overflow: hidden;
}

.bg-blue-purple-mix::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, rgba(96, 165, 250, 0.8) 0%, transparent 50%);
  animation: rotate 10s linear infinite;
}

.bg-blue-purple-mix::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, rgba(167, 139, 250, 0.8) 0%, transparent 50%);
  animation: rotate 10s linear infinite reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation-delay-1 {
  animation-delay: 300ms !important;
}

.animation-delay-2 {
  animation-delay: 600ms !important;
}

/* Text Colors */

.text-primary {
  @apply text-primary-300;
}

.text-primary:is(.dark *) {
  @apply text-primary-400;
}

svg.text-white:hover,
a .text-white:hover {
  @apply text-primary-300;
}

svg.text-white:hover:is(.dark *),
a .text-white:hover:is(.dark *) {
  @apply text-primary-400;
}

@keyframes steam-ripple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.animate-steam-ripple {
  animation: steam-ripple 8s infinite linear;
}
